div.page {
    position: absolute;
    width: 480px;
    height: 100%;
}

#pagelogin { 
    display: block;
}

#pagelobby {
    display: none;
}

.wrapperlobby{
    width: 100%;
}

#log {
    width: 373px;
    height: 290px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    margin-bottom: 5px;
    font: 11pt 'Verdana';
    overflow: auto;
    float: left;
}

#rooms {
    width: 78px;
    height: 290px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    margin-bottom: 5px;
    font: 11pt 'Verdana';
    overflow: auto;
    float: right;
}

#input {
    width: 330px;
}
#send{
    width: 51px;
}

#newroom, #login, #logout {
    width: 90px;
    margin-left: 5px;
}

.in {
    color: rgb(0, 0, 0);
}
.out {
    color: rgb(0, 0, 0);
}
.time {
    color: rgb(144, 144, 144);
    font: 10pt 'Consolas';
}
.system {
    color: rgb(165, 42, 42);
}
.user {
    color: rgb(25, 25, 112);
}

.pagetitle {
    width: 100%;
    text-align: center;
}

.pageright {
    float: right;
    margin-bottom: 5px;
}

.prefix {
    margin-right: 5px;
}